body {
  display: flex;
  justify-content: center;
  background-color: #868686;
  align-items: center;  
  width: 100%;
  height: 100vh;
}
.main {
  width: 100em;
  height: 58em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.conteiner {
  width: 100%;
  height: 50em; 
}
img {
  width: 100em;
  height: 50em;
  border-radius: 1em;
}
.img-content {
  transition: transform 1s ease; 
  width: 100em;
  height: 50em;
  border-radius: 1em; 
}
.imgs {
  display: flex;
  flex-direction: row;
  width: 400%;
}
.conteiner-text {
  width: 9em;
  overflow: hidden;
}
.text {
  margin: 0;
  width: 9em;
  display: flex;
  flex-direction: row;
  text-align: start;
  width:400%;
}
.paragraph {
  width: 9em;
  gap: 1em;
}
p {
  font-size: 2.5em;
  display: inline-block; 
  text-align: center;
}
.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 5em;
  width: 100em;
}
.nav {
  margin-left: 81em;
  width: 10em;
}
.clicker {
  display: flex;
  width: 10em;
  height: 3em;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  margin-left: 1em;
}
input {
  display: none;
}
label {
  width: 1.3em;
  height: 1.3em;
  border-radius: 4em;
  cursor: pointer;
  background-color: #868686;
  border: 1px solid #53e2ff;
}
.control_panel {
  transition: all 0.5s ease-out;
}
#s1:checked ~ .conteiner .imgs,   
#s1:checked ~ .foot .conteiner-text .text  { 
    transform: translateX(0); 
    transition: all 1s ease; 
}
#s2:checked ~  .conteiner .imgs,
#s2:checked ~ .foot .conteiner-text .text   {
  transform: translateX(-25%);
    transition: all 1s ease;
}
#s3:checked ~  .conteiner .imgs,
#s3:checked ~  .foot .conteiner-text .text  {
    transform: translateX(-50%);
    transition: all 1s ease;  
}
#s4:checked ~ .conteiner .imgs,
#s4:checked ~ .foot .conteiner-text .text  {
    transform: translateX(-75%);
    transition: all 1s ease; 
}